.Guacamaya{
	width: 100%; 
    height:100%;
}
.DIVGuacamaya{
	width: 20%; 
    height:20%;
    left: -110px; /* Para que este escondido desde el inicio de la pagina así hace el efecto como que sale */
	top: 40%; /* Para que salga de abajo de la pagina*/
	position: relative;
	z-index: 1;
	animation-name: Guacamaya; /* Se llama la animación del Keyframes*/
	animation-duration: 20s; /* le damos una duración de 5 segundo*/
	animation-iteration-count: infinite; /* Le decimos que se repita infinitas veces*/
}

.olas{
	position: absolute;
	width: 150%;
	height: 70%;
	left: -110px;
	top: 30%;
	margin: 0 auto;
	
}

@keyframes Guacamaya{ /* Creamos la animacion*/
0%{ left: -110px; top:40%}/*Le damos un inicio, tiene que ser igual a su inicio original*/
50%{left: 50%; top: 5%;} /* Le decimos que cuando llegue al 50% de la pantalla se ubique en el top 5 porciento o sea arriba*/
100%{left: 100%; top:30%;}  /* Le decimos que cuando llegue al 100% de la pantalla se ubique en el top 30% porciento o sea al medio*/
}